### Claude ###
.claude/
Claude.md
CLAUDE.md

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Vue ###
node_modules/
dist/

### Maven ###
target/

### Gradle ###
build/